<h1 class="text-center"><%= @user.name %> の投稿一覧ページ</h1>
<div class="row row-cols-1 row-cols-md-3">
  <% @posts.each do |post|%>
    <%= render "posts/post_card", post: post %>
  <% end %>
</div>
<%= paginate @posts %>