<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Fansta</h1>
  </div>
  <p class="text-center"> 
    右上のLoginからemail: "a@a.com",　password:  "aaaaaa"にて通常ユーザーとしてログイン可能
  </p>
  <p class="text-center"> 
    ログイン後は新規投稿からチームを選択し、コメントと画像を投稿可能
  </p>
  <p class="text-center"> 
    左のサイドバーから新規投稿時に選択したチームの一覧の写真をみることができる。
  </p>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <% @posts.each do |post|%>
    <%= render "posts/post_card", post: post %>
  <% end %>
</div>