<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <ul class="list-group">
      <% model.errors.full_messages.each do |message| %>
        <li class="text-center list-group-item list-group-item-warning"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>