<% team_index %>
<% @teams.each do |team| %>
  <div class="media position-relative bg-secondary m-1">
    <%= image_tag display_image(team.icon.url), class:"mr-3",:size => '50x50', alt: team.icon.url  %>
    <div class="media-body">
      <%= link_to team.name ,team_path(team.id), class:"stretched-link text-white"%>
    </div>
    <p class="position-absolute text-white"># <%= team.id %></p>
  </div>
<% end %>