<% team_index %>
<% @teams.each do |team| %>
  <div>
  <p><%= team.id %></p>
  <% if team.icon? %>
    <%= image_tag team.icon.url, :size => '50x50' %>
  <% else %>
    <%= image_tag asset_path("no_image.png"), :size => '50x50' %>
  <% end %>
  <br>
  <%= link_to team.name ,team_path(team.id) %>

  </div>
  
<% end %>