<% team_index %>
<% @teams.each do |team| %>
  <div class="media position-relative bg-secondary m-1">
    <% if team.icon? %>
      <%= image_tag team.icon.url, :size => '50x50', class:"mr-3", alt: team.icon.url %>
    <% else %>
      <%= image_tag asset_path("no_image.png"), :size => '50x50', class:"mr-3", alt: "no_image.png" %>
    <% end %>
    <div class="media-body">
      <%= link_to team.name ,team_path(team.id), class:"stretched-link text-white"%>
    </div>
    <p class="position-absolute text-white"># <%= team.id %></p>
  </div>
<% end %>